/* COMMON
   ======================= */
body {
   font-family: monospace;
}
/* ======================= */

/* MACRO LAYOUT
   ======================= */
   header {
      padding-top: 25px;
      padding-bottom: 25px;
   }
   section {
      padding: 30px;
      background-color: lightcyan;
      min-width: 40%;
      margin: 15px;
   }
   /* ======================= */
   
   /* MICRO LAYOUT
      ======================= */
   /* header
      ++++++++++ */
   .logo-container {
      position: relative;
   }
   .logo {
      width: 200px;
      background-color: aquamarine;
      box-shadow: 5px 5px 5px rgb(98, 132, 223);
   }
   [class*='-wheel'] {
     font-size: 100px;
      position: absolute;
      bottom: -8px;
      animation-name: spin;
      animation-timing-function: ease-out;
      animation-duration: 5s;
      animation-iteration-count: 1;
      background-color:lightcyan;
   
   }
   .left-wheel {
      left: -16px;
   }
   .right-wheel {
      right: -8px;
   }
   @keyframes spin {
      100% {
         transform: rotate(720deg);
      }
   }

   h1 {
      padding-top: 15px;
   }
   header p {
      padding: 10px 40px;
      border-bottom: 1px solid grey;
   }
   /* ++++++++++ */

   /* main
   ++++++++++ */
   #lightest-bike em {
      background-color:rgba(98, 132, 223, 0.6);
      padding-left: 5px;
      padding-right: 5px;
   }
   
   ol {
      width: max-content;
      background-color: white;
      margin-top: 10px;
      border: 2px solid grey;
   }
   ol li:nth-of-type(1) {
      background: goldenrod;
   }
   li {
      padding: 10px;
      padding-right: 20px;
      border-bottom: 1px solid lightgray;
   }
   
   ol li:nth-of-type(2) {
      background: silver;
   }
   
   ol li:nth-of-type(3) {
      background: #b87333;
   }
   /* ++++++++++ */
   /* ======================= */
   
   /* template
   ++++++++++ */
   
   
   
   /* ++++++++++ */