/* COMMON
   ======================= */

/* ======================= */

/* MACRO LAYOUT
   ======================= */
   header {
      padding-top: 25px;
      padding-bottom: 25px;
   }
   section {
      padding: 10px;
      background-color: lightsalmon;
      min-width: 40%;
      margin: 15px;
   }
   /* ======================= */
   
   /* MICRO LAYOUT
      ======================= */
   /* header
      ++++++++++ */
   .logo-container {
      position: relative;
   }
   .logo {
      width: 200px;
      background-color: aquamarine;
      box-shadow: 5px 5px 5px rgb(98, 132, 223);
   }
   [class*='-wheel'] {
     font-size: 100px;
      position: absolute;
      bottom: -8px;
      animation-name: spin;
      animation-timing-function: linear;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      /* test */
      text-align: center;
      background-color:lightcyan;
   
   }
   .left-wheel {
      left: -16px;
   }
   .right-wheel {
      right: -8px;
   }
   @keyframes spin {
      100% {
         transform: rotate(360deg);
      }
   }

   h1 {
      padding-top: 15px;
   }
   header p {
      padding: 10px 40px;
      border-bottom: 1px solid grey;
   }
   /* ++++++++++ */

   /* main
   ++++++++++ */
   
   ol {
      width: max-content
   }
   ol li:nth-of-type(1) {
      background: goldenrod;
   }
   li {
      padding: 10px;
   }
   
   ol li:nth-of-type(2) {
      background: silver;
   }
   
   ol li:nth-of-type(3) {
      background: #b87333;
   }
   
   h3 {
      padding: 5px 10px;
      background: lightsalmon;
      color: white;
   }
   /* ++++++++++ */
   /* ======================= */
   
   /* template
   ++++++++++ */
   
   
   
   /* ++++++++++ */